<hr>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead"> SEARCH TRACK</p>
     </div>

     <form>
      <div class="form-row">
        <div id="mysearch" class="col-lg-3">
          <input #text type="text" class="form-control" placeholder="Enter track name">
        </div>
          <button type="button" class="btn btn-primary" (click)="click(text.value)">Search</button>
       
</div>



<div class="container-fluid">
  <h2>Trending Music</h2>
  <div class="container-fluid d-flex flex-wrap my-2">
    <div class="card col-sm-12 col-md-4 col-lg-3" style="width: 18rem;" *ngFor="let music of arrayOfMusic">
      

       <div class="card-body">
        <h5 class="card-title"> ID : {{music.id}}</h5>
      </div>
      <div class="card-body">
        <h5 class="card-title"> NAME : {{music.name}}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> ARTIST : {{music.artist.name}}</li>
      </ul>
      <div class="card-body">
        <nav>
         <button mat-flat-button (click)="getDetails(music)"> DETAILS </button>
        
          <a routerLink="/wishlist" routerLinkActive="active">
           <button mat-flat-button (click)="addTrack(music)">Add</button></a>

        </nav>
 
      </div>
    </div>
  </div>
  </div>